@import url("");
@font-face {
  font-family: "gotham";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GothamPro.eot?") format("eot"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.woff") format("woff"); }

@font-face {
  font-family: "gotham";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/GothamPro-Black.eot?") format("eot"), url("../fonts/GothamPro-Black.ttf") format("truetype"), url("../fonts/GothamPro-Black.woff") format("woff"); }

@font-face {
  font-family: "gotham";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/GothamPro-BlackItalic.eot?") format("eot"), url("../fonts/GothamPro-BlackItalic.ttf") format("truetype"), url("../fonts/GothamPro-BlackItalic.woff") format("woff"); }

@font-face {
  font-family: "gotham";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/GothamPro-Bold.eot?") format("eot"), url("../fonts/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold.woff") format("woff"); }

@font-face {
  font-family: "gotham";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/GothamPro-BoldItalic.eot?") format("eot"), url("../fonts/GothamPro-BoldItalic.ttf") format("truetype"), url("../fonts/GothamPro-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: "gotham";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/GothamPro-Italic.eot?") format("eot"), url("../fonts/GothamPro-Italic.ttf") format("truetype"), url("../fonts/GothamPro-Italic.woff") format("woff"); }

@font-face {
  font-family: "gotham";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/GothamPro-Light.eot?") format("eot"), url("../fonts/GothamPro-Light.ttf") format("truetype"), url("../fonts/GothamPro-Light.woff") format("woff"); }

@font-face {
  font-family: "gotham";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/GothamPro-LightItalic.eot?") format("eot"), url("../fonts/GothamPro-LightItalic.ttf") format("truetype"), url("../fonts/GothamPro-LightItalic.woff") format("woff"); }

@font-face {
  font-family: "gotham";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/GothamPro-Medium.eot?") format("eot"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.woff") format("woff"); }

@font-face {
  font-family: "gotham";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/GothamPro-MediumItalic.eot?") format("eot"), url("../fonts/GothamPro-MediumItalic.ttf") format("truetype"), url("../fonts/GothamPro-MediumItalic.woff") format("woff"); }

section, header, footer, .section {
  position: relative;
  width: 100%; }

a {
  -webkit-transition: 300ms all linear;
  -o-transition: 300ms all linear;
  transition: 300ms all linear; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input, button, textarea {
  -webkit-appearance: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, input, textarea, button {
  font-family: "gotham"; }

h2 {
  color: #353535;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 30px; }
  h2.white {
    color: #fff; }

p {
  color: #676767;
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 25px; }
  p:last-child {
    margin-bottom: 0; }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.overlay-bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(65, 57, 66, 0.86); }

.overlay-bg .container {
  position: relative;
  z-index: 1; }

.cloud {
  position: absolute;
  pointer-events: none; }
  .cloud.left {
    left: 0;
    top: 0;
    background: url(../images/cloud_left.png) right bottom no-repeat; }
  .cloud.right {
    right: 0;
    bottom: 0;
    background: url(../images/cloud_right.png) left top no-repeat; }

.btn {
  position: relative;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #353535;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #f8d863;
  text-decoration: none;
  padding: 0 15px; }
  .btn:hover, .btn:focus {
    background: #e8c485; }

.social-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .social-buttons a {
    margin-right: 18px; }

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding-top: 25px; }
  .header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__logo:hover {
    opacity: .7; }
  .header__menu {
    padding-top: 27px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header__menu li {
      margin-left: 75px; }
      .header__menu li:first-child {
        margin-left: 0; }
    .header__menu a {
      text-decoration: none;
      color: #e4c68f;
      font-size: 16px;
      font-weight: 500; }
      .header__menu a:hover {
        color: #e8c485; }

.offer {
  background: url(../images/bg1.jpg) center 0 no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  min-height: 739px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .offer .cloud.left {
    width: 365px;
    height: 330px; }
  .offer .cloud.right {
    width: 505px;
    height: 360px; }
  .offer .container {
    padding-top: 190px; }
  .offer__date {
    color: #e4c68f;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .offer__title {
    color: #ffffff;
    font-size: 108px;
    font-weight: 900;
    line-height: 110px;
    letter-spacing: 3px;
    margin-bottom: 25px; }
  .offer__btn {
    padding: 0 25px; }
  .offer .social-buttons {
    position: absolute;
    bottom: 70px;
    left: 15px; }
    .offer .social-buttons svg use {
      -webkit-transition: 300ms all linear;
      -o-transition: 300ms all linear;
      transition: 300ms all linear; }
    .offer .social-buttons a:hover svg use {
      fill: #fff; }

.about {
  padding-top: 70px;
  padding-bottom: 65px; }
  .about .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about__image {
    width: 51%; }
  .about__text {
    width: 44.5%; }

.information__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #c4c4c4; }
  .information__list .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .information__list .item .ico {
      position: relative;
      width: 95px;
      height: 95px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-color: #e3c690;
      margin-right: 28px; }
    .information__list .item .text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .information__list .item .text span {
        display: block;
        color: #353535;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: auto; }
      .information__list .item .text a {
        color: #5b5b5b;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase; }
        .information__list .item .text a:hover {
          color: #e8c485; }

.map {
  padding-top: 45px;
  padding-bottom: 40px; }
  .map__frame {
    max-width: 572px; }
    .map__frame iframe {
      height: 100% !important; }
  .map__text {
    width: -webkit-calc(100% - 572px);
    width: calc(100% - 572px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0; }
    .map__text .name {
      position: relative;
      color: #4f4f4f;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.3px;
      font-style: italic;
      background: #fff;
      padding: 0 15px;
      top: -15px;
      display: inline-block; }
    .map__text .bordered {
      border: 4px solid #e8c486;
      padding: 0 10px 25px 25px;
      border-left: none; }
    .map__text p {
      margin-bottom: 10px; }
    .map__text hr {
      display: block;
      margin: 0;
      max-width: -webkit-calc(100% - 55px);
      max-width: calc(100% - 55px);
      margin-bottom: 20px;
      border: 1px solid #c4c4c4; }

.ext-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none; }
  .ext-link svg {
    position: relative;
    top: -1px;
    margin-right: 15px; }
  .ext-link use {
    -webkit-transition: 300ms all linear;
    -o-transition: 300ms all linear;
    transition: 300ms all linear; }
  .ext-link:hover {
    color: #e8c485; }
    .ext-link:hover use {
      fill: #e8c485; }

.schedule {
  padding-top: 45px;
  padding-bottom: 55px; }
  .schedule__list .item {
    border: 4px solid #e8c486;
    margin-bottom: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 25px; }
    .schedule__list .item .time {
      color: #353535;
      font-size: 24px;
      font-weight: 700;
      padding-right: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      line-height: 1;
      position: relative;
      margin-right: 20px;
      width: 165px; }
      .schedule__list .item .time:after {
        content: "";
        position: absolute;
        top: 0px;
        bottom: 0px;
        margin: auto 0;
        height: 18px;
        right: -1px;
        width: 2px;
        background: #c4c4c4; }
    .schedule__list .item .text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #676767;
      font-size: 18px;
      line-height: 34px;
      width: -webkit-calc(100% - 165px);
      width: calc(100% - 165px); }

.packages {
  background: url(../images/bg2.jpg) center 0 no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  padding: 70px 0 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .packages .cloud.left {
    width: 342px;
    height: 245px; }
  .packages .cloud.right {
    width: 475px;
    height: 322px; }
  .packages__list .item {
    border: 4px solid #8d6a55;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0 25px 30px; }
    .packages__list .item:last-child {
      margin-bottom: 65px; }
    .packages__list .item .meta-info {
      max-width: 330px;
      width: 100%;
      padding-right: 30px;
      color: #ffffff; }
      .packages__list .item .meta-info .name {
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 7px; }
      .packages__list .item .meta-info .counter {
        font-size: 16px;
        font-weight: 500; }
    .packages__list .item .short-info {
      width: 100%;
      max-width: 330px;
      padding-right: 30px; }
    .packages__list .item .btn {
      margin-left: auto;
      position: relative;
      right: -68px;
      width: 135px;
      height: 51px;
      line-height: 51px; }
    .packages__list .item .price {
      width: 170px;
      height: 170px;
      display: block;
      position: relative;
      margin: -50px 0 -50px auto;
      background-color: #8d6a55;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #ffffff;
      font-size: 36px;
      font-weight: 900; }
    .packages__list .item ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .packages__list .item ul li {
        padding-left: 10px;
        position: relative;
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px; }
        .packages__list .item ul li:last-child {
          margin-bottom: 0; }
        .packages__list .item ul li:before {
          content: "";
          position: absolute;
          left: 0;
          top: 6px;
          width: 4px;
          height: 4px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background: #fff; }
  .packages .ext-link {
    color: #fff; }
    .packages .ext-link svg use {
      fill: #fff; }
    .packages .ext-link:hover {
      color: #e8c485; }
      .packages .ext-link:hover use {
        fill: #e8c485; }

.products {
  padding: 75px 0 65px; }
  .products h2 {
    margin-bottom: 45px; }
  .products__slider {
    position: relative; }
  .products .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .products .item .image {
      width: 572px;
      background-position: center;
      -webkit-background-size: cover;
              background-size: cover; }
    .products .item .text {
      width: -webkit-calc(100% - 572px);
      width: calc(100% - 572px);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 25px 0; }
      .products .item .text .name {
        position: relative;
        color: #4f4f4f;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.3px;
        font-style: italic;
        background: #fff;
        padding: 0 15px;
        top: -15px;
        display: inline-block; }
      .products .item .text .bordered {
        border: 4px solid #e8c486;
        padding: 0 10px 25px 25px;
        border-left: none; }
      .products .item .text p {
        margin-bottom: 10px; }
      .products .item .text hr {
        display: block;
        margin: 0;
        max-width: -webkit-calc(100% - 55px);
        max-width: calc(100% - 55px);
        margin-bottom: 20px;
        border: 1px solid #c4c4c4; }
      .products .item .text .btn {
        width: 133px;
        height: 51px;
        line-height: 51px;
        margin-top: 30px; }
  .products .owl-carousel .owl-nav {
    position: absolute;
    right: 30px;
    bottom: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .products .owl-carousel .owl-nav span {
      display: none; }
    .products .owl-carousel .owl-nav button {
      outline: none;
      -webkit-transition: 300ms all linear;
      -o-transition: 300ms all linear;
      transition: 300ms all linear; }
      .products .owl-carousel .owl-nav button:hover {
        opacity: .7; }
    .products .owl-carousel .owl-nav .owl-prev {
      width: 14px;
      height: 22px;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      background: url(../images/nav.svg);
      margin-right: 35px; }
    .products .owl-carousel .owl-nav .owl-next {
      width: 14px;
      height: 22px;
      background: url(../images/nav.svg); }
  .products .slider-counter {
    text-align: right;
    position: absolute;
    right: 30px;
    bottom: 70px; }
    .products .slider-counter div {
      text-align: center;
      display: inline-block;
      color: #676767;
      font-size: 18px;
      width: 65px;
      letter-spacing: 0.3px; }

.gallery {
  padding: 45px 0; }
  .gallery h2 {
    margin-bottom: 65px; }
  .gallery .item {
    padding: 0 20px 20px 0;
    position: relative;
    height: 313px; }
    .gallery .item a {
      display: block;
      width: 100%;
      height: 100%;
      background-position: center;
      -webkit-background-size: cover;
              background-size: cover;
      z-index: 1; }
    .gallery .item:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      top: 20px;
      left: 20px;
      z-index: -1;
      border: 4px solid #e8c486;
      -webkit-transition: 300ms all linear;
      -o-transition: 300ms all linear;
      transition: 300ms all linear; }
    .gallery .item:hover:after {
      bottom: 10px;
      top: 10px;
      left: 10px;
      right: 10px; }
  .gallery .owl-carousel .owl-nav {
    margin-top: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .gallery .owl-carousel .owl-nav span {
      display: none; }
    .gallery .owl-carousel .owl-nav button {
      outline: none;
      -webkit-transition: 300ms all linear;
      -o-transition: 300ms all linear;
      transition: 300ms all linear; }
      .gallery .owl-carousel .owl-nav button:hover {
        opacity: .7; }
    .gallery .owl-carousel .owl-nav .owl-prev {
      width: 14px;
      height: 22px;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      background: url(../images/nav.svg);
      margin-right: 35px; }
    .gallery .owl-carousel .owl-nav .owl-next {
      width: 14px;
      height: 22px;
      background: url(../images/nav.svg); }
  .gallery .slider-counter {
    margin-top: 10px;
    text-align: right; }
    .gallery .slider-counter div {
      text-align: center;
      display: inline-block;
      color: #676767;
      font-size: 18px;
      width: 65px;
      letter-spacing: 0.3px; }

.results {
  padding-bottom: 40px; }
  .results__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .results__list .item {
      width: -webkit-calc(50% - 17.5px);
      width: calc(50% - 17.5px);
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 50%;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%;
      max-width: -webkit-calc(50% - 17.5px);
      max-width: calc(50% - 17.5px);
      border-bottom: 1px solid #cfcfcf;
      padding: 10px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .results__list .item:nth-child(1), .results__list .item:nth-child(2) {
        border-top: 1px solid #cfcfcf; }
      .results__list .item .date {
        color: #353535;
        font-size: 24px;
        font-weight: 700;
        width: 78px;
        position: relative; }
        .results__list .item .date:after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          height: 11px;
          margin: auto 0;
          width: 2px;
          background: #c4c4c4; }
      .results__list .item .link {
        width: -webkit-calc(100% - 78px);
        width: calc(100% - 78px);
        padding-left: 23px; }
        .results__list .item .link a {
          color: #676767;
          font-size: 16px;
          line-height: 34px;
          text-transform: uppercase;
          text-decoration: none; }
          .results__list .item .link a:hover {
            color: #e8c485; }

.partners {
  padding-top: 45px;
  padding-bottom: 100px; }
  .partners h2 {
    margin-bottom: 55px; }
  .partners__gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .partners__gallery .item {
      width: 25%;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 25%;
          -ms-flex: 1 0 25%;
              flex: 1 0 25%;
      max-width: 25%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 10px;
      margin-bottom: 60px; }

.footer {
  background-color: #332c33;
  padding: 40px 0 65px; }
  .footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .footer__title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 25px; }
  .footer__social svg use {
    fill: #fff;
    -webkit-transition: 300ms all linear;
    -o-transition: 300ms all linear;
    transition: 300ms all linear; }
  .footer__social a:hover svg use {
    fill: #e8c485; }
  .footer__contacts {
    margin-right: 210px; }
    .footer__contacts address, .footer__contacts a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 20px;
      opacity: 0.7;
      color: #ffffff;
      font-size: 14px;
      text-decoration: none; }
    .footer__contacts use {
      -webkit-transition: 300ms all linear;
      -o-transition: 300ms all linear;
      transition: 300ms all linear; }
    .footer__contacts a:hover {
      color: #e8c485; }
      .footer__contacts a:hover use {
        fill: #e8c485; }
    .footer__contacts .ico {
      width: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-right: 18px;
      text-align: center; }
  .footer__copyright {
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    opacity: 0.7;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    line-height: 21px; }
