@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-ExtraBold.eot");
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Heavy.eot");
    src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-LightItalic.eot");
    src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"), url("../fonts/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-ThinItalic.eot");
    src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"), url("../fonts/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ThinItalic.woff") format("woff"), url("../fonts/Gilroy-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-BlackItalic.eot");
    src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"), url("../fonts/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/Gilroy-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-BoldItalic.eot");
    src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"), url("../fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-SemiBold.eot");
    src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-UltraLightItalic.eot");
    src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"), url("../fonts/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-SemiBoldItalic.eot");
    src: local("Gilroy SemiBold Italic"), local("Gilroy-SemiBoldItalic"), url("../fonts/Gilroy-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBoldItalic.woff") format("woff"), url("../fonts/Gilroy-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Light.eot");
    src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-MediumItalic.eot");
    src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"), url("../fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-ExtraBoldItalic.eot");
    src: local("Gilroy ExtraBold Italic"), local("Gilroy-ExtraBoldItalic"), url("../fonts/Gilroy-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBoldItalic.woff") format("woff"), url("../fonts/Gilroy-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Regular.eot");
    src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-HeavyItalic.eot");
    src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"), url("../fonts/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/Gilroy-HeavyItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Medium.eot");
    src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-RegularItalic.eot");
    src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("../fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-UltraLight.eot");
    src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Bold.eot");
    src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Thin.eot");
    src: local("Gilroy Thin"), local("Gilroy-Thin"), url("../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Black.eot");
    src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url("../fonts/CormorantGaramond-Regular.eot");
    src: local("Cormorant Garamond Regular"), local("CormorantGaramond-Regular"), url("../fonts/CormorantGaramond-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CormorantGaramond-Regular.woff") format("woff"), url("../fonts/CormorantGaramond-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url("../fonts/CormorantGaramond-Italic.eot");
    src: local("Cormorant Garamond Italic"), local("CormorantGaramond-Italic"), url("../fonts/CormorantGaramond-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/CormorantGaramond-Italic.woff") format("woff"), url("../fonts/CormorantGaramond-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

section,
header,
footer,
.section {
    position: relative;
    width: 100%;
}

a {
    -webkit-transition: 300ms all linear;
    -o-transition: 300ms all linear;
    transition: 300ms all linear;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
input,
textarea {
    font-family: 'Gilroy';
}

body {
    color: #000000;
    padding-top: 70px;
}

p {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 300;
}

.corm {
    font-family: 'Cormorant Garamond';
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__burger {
    position: relative;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    display: none;
}
.header__burger span {
  width: 30px;
  height: 2px;
  background: #2c65aa;
  position: relative;
  transition: 300ms all linear;
}
.header__burger span::before {
   content: "";
   position: absolute;
   left: 0;
   width: 30px;
   height: 2px;
   top: -10px;
   background: #2c65aa;
   transition: 300ms all linear;
}
.header__burger span::after {
   content: "";
   position: absolute;
   left: 0;
   width: 30px;
   height: 2px;
   bottom: -10px;
   background: #2c65aa;
   transition: 300ms all linear;
}
.header__burger.active span {
    background-color: transparent;
}
.header__burger.active span::before {
    transform: rotate(45deg);
    top: 0;
}
.header__burger.active span::after {
    transform: rotate(-45deg);
    bottom: 0;
}


.header__logo:hover {
    opacity: .7;
}

.header__nav {
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__nav a {
    color: #4d4d4d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    margin-left: 55px;
}

.header__nav a:hover {
    color: #2c65aa;
}

.header__nav a.button {
  width: 170px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  font-size: 20px;
  text-transform: none;
  font-weight: normal;
}

.header__nav a.button:hover {
  background: #ddd;
}

.header__nav>ul {
    list-style: none;
    position: relative;
    margin: 0 0 0 40px;
    padding: 0 30px 0 0;
    top: -1px;
  z-index: 1;
}

.header__nav > ul > li::before {
  content: "";
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65);
  position: absolute;
  left: -8px;
  top: -8px;
  width: 45px;
  height: 65px;
  z-index: -1;
  display: none;
}

.header__nav > ul > li:hover::before {
  display: block;
}

.header__nav>ul::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 7px;
    height: 4px;
    background: url(../images/lang.png) center no-repeat;
}

.header__nav>ul li {
    width: 30px;
    height: 20px;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    border: 1px solid #ccc;
}

.header__nav > ul li:hover>ul {
    display: block;
}

.header__nav > ul li a {
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
}

.header__nav > ul li a:hover {
  opacity: .7;
}

.header__nav > ul ul {
    position: absolute;
    left: 0;
    top: 18px;
    padding-top: 10px;
    display: none;
}

.offer-screen {
    height: 900px;
    background: url(../images/bg1.jpg) center bottom no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.offer-screen__title {
    font-size: 63px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 50px;
}

.offer-screen__sub-title {
    font-size: 41px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

.offer-screen p {
    color: #fff;
    font-size: 23px;
    line-height: 1.3;
    font-weight: 300;
    margin-bottom: 110px;
}

.offer-screen a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 170px;
    height: 54px;
    background: #006dbf;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
}

.offer-screen a:hover {
    opacity: .7;
}

.screen-title {
    color: #000000;
    font-weight: 800;
    font-size: 34px;
    line-height: 1.3;
    text-transform: uppercase;
}

.about-us {
    padding: 100px 0 160px;
}

.about-us .screen-title {
    text-align: center;
    margin-bottom: 15px;
}

.about-us .sub-title {
    font-family: 'Cormorant Garamond';
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: #0071bc;
    margin-bottom: 50px;
}

.about-us .sub-title::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -85px;
    bottom: 0px;
    height: 1px;
    width: 170px;
    background: #29abe2;
}

.about-us p {
    font-size: 22px;
    text-align: center;
    max-width: 1055px;
    width: 100%;
    margin: 0 auto;
}

.how-its-work {
    overflow: hidden;
}

.how-its-work .container {
    min-height: 862px;
}

.how-its-work .container::after {
    content: "";
    position: absolute;
    left: 815px;
    top: 0;
    bottom: 0;
    right: -375px;
    background: -webkit-gradient(linear, left top, right top, from(#b8e9f2), to(#67cce4));
    background: -webkit-linear-gradient(left, #b8e9f2, #67cce4);
    background: -o-linear-gradient(left, #b8e9f2, #67cce4);
    background: linear-gradient(90deg, #b8e9f2, #67cce4);
}

.how-its-work .flex {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.how-its-work__content {
    width: 100%;
    max-width: 600px;
}

.how-its-work .screen-title {
    padding-bottom: 40px;
    margin-bottom: 45px;
    position: relative;
}

.how-its-work .screen-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 1px;
    width: 170px;
    background: #29abe2;
}

.how-its-work .screen-title+p {
    margin-bottom: 90px;
}

.how-its-work__steps {
    width: -webkit-calc(100% - 600px);
    width: calc(100% - 600px);
    position: relative;
    padding-top: 40px;
    z-index: 2;
}

.how-its-work__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.how-its-work__ico {
    position: relative;
    background-image: url(../images/icos.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-bottom: 18px;
}

.how-its-work__name {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    margin-bottom: 15px;
}

.how-its-work__item {
    width: 270px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 270px;
    -ms-flex: 1 0 270px;
    flex: 1 0 270px;
    max-width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.how-its-work__item:nth-child(2n) {
    margin-right: 0;
}

.how-its-work__item:nth-child(1) .how-its-work__ico {
    background-position: 0 0;
}

.how-its-work__item:nth-child(2) .how-its-work__ico {
    background-position: 0 -40px;
}

.how-its-work__item:nth-child(3) .how-its-work__ico {
    background-position: 0 -80px;
}

.how-its-work__item:nth-child(4) .how-its-work__ico {
    background-position: 0 -120px;
}

.how-its-work__step {
    position: relative;
    padding-left: 295px;
    height: 318px;
    padding-top: 60px;
}

.how-its-work__step p {
    margin-bottom: 30px;
}

.how-its-work__step p:last-child {
    margin-bottom: 0;
}

.how-its-work__step::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 272px;
    height: 318px;
    background: url(../images/step1.png) 0 0 no-repeat;
}

.how-its-work__step:nth-child(2) {
    height: 346px;
    padding-top: 115px;
}

.how-its-work__step img {
  margin-top: 50px;
}

.how-its-work__step:nth-child(2)::before {
    height: 346px;
    background: url(../images/step2.png) 0 0 no-repeat;
}

.how-its-work__step:last-child::after {
    display: none;
}

.different-spheres {
    background: #e8fbff;
    padding-top: 75px;
    overflow: hidden;
}

.different-spheres .screen-title {
    text-align: center;
    margin-bottom: 15px;
}

.different-spheres .sub-title {
    font-style: italic;
    color: #000;
    text-align: center;
    margin-bottom: 100px;
    font-size: 24px;
}

.different-spheres__item {
    padding: 85px 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
}

.different-spheres__item::before {
    content: "";
    position: absolute;
    left: -375px;
    top: 0;
    bottom: 0;
    width: 745px;
    background: -webkit-gradient(linear, left top, right top, from(#2694e7), to(#0f61b5));
    background: -webkit-linear-gradient(left, #2694e7, #0f61b5);
    background: -o-linear-gradient(left, #2694e7, #0f61b5);
    background: linear-gradient(90deg, #2694e7, #0f61b5);
    z-index: -1;
}

.different-spheres__item:nth-child(2n) .different-spheres__img {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.different-spheres__item:nth-child(2n) .different-spheres__text {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    text-align: left;
}

.different-spheres__item:nth-child(2n)::before {
    left: auto;
    right: -375px;
}

.different-spheres__item:nth-child(2n) .read-more {
    margin-left: 0;
}

.different-spheres__item:nth-child(2)::before {
    background: -webkit-linear-gradient(315deg, #28dcea, #007c9f);
    background: -o-linear-gradient(315deg, #28dcea, #007c9f);
    background: linear-gradient(135deg, #28dcea, #007c9f);
}

.different-spheres__item:nth-child(3)::before {
    background: -webkit-linear-gradient(315deg, #6e81e9, #00b395);
    background: -o-linear-gradient(315deg, #6e81e9, #00b395);
    background: linear-gradient(135deg, #6e81e9, #00b395);
}

.different-spheres__text {
    width: 470px;
    position: relative;
    text-align: right;
}

.different-spheres__text p {
    font-size: 21px;
    letter-spacing: 0.53px;
    margin-bottom: 30px;
}

.different-spheres__text a.read-more {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 170px;
    height: 54px;
    background: #006dbf;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
    margin-left: auto;
}

.different-spheres__text a.read-more:hover {
    opacity: .7;
}

.different-spheres__img {
    width: -webkit-calc(100% - 470px - 30px);
    width: calc(100% - 470px - 30px);
}

.different-spheres__img img {
    width: 100%;
    height: auto;
}

.different-spheres__name {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.install-app {
    padding: 105px 0 0 0;
}

.install-app .screen-title {
    text-align: center;
    margin-bottom: 15px;
}

.install-app .sub-title {
    font-family: 'Cormorant Garamond';
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: #0071bc;
    margin-bottom: 50px;
}

.install-app .sub-title::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -85px;
    bottom: 0px;
    height: 1px;
    width: 170px;
    background: #29abe2;
}

.install-app .sub-title+p {
    text-align: center;
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 40px;
}

.install-app .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.install-app .left {
    max-width: 570px;
    width: 100%;
    padding-top: 70px;
}

.install-app .left p {
    margin-bottom: 37px;
    font-size: 22px;
}

.install-app .left .links a {
    margin-right: 30px;
}

.install-app .left .links a:hover {
    opacity: .7;
}

.install-app .name {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 40px;
    margin-bottom: 45px;
    position: relative;
    line-height: 1.4;
}

.install-app .name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 1px;
    width: 170px;
    background: #29abe2;
}

.install-app .right {
    height: 731px;
    width: -webkit-calc(100% - 600px);
    width: calc(100% - 600px);
    position: relative;
}

.install-app .right img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
}

.footer {
    background: #0f3a75;
    padding: 35px 0 65px;
    position: relative;
}

.footer .addresses {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 40px;
}

.footer .addresses::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1070px;
    height: 1px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

.footer .addresses__item {
    width: 270px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 270px;
    -ms-flex: 1 0 270px;
    flex: 1 0 270px;
    max-width: 270px;
    margin-right: 30px;
    margin-bottom: 55px;
    color: #fff;
    font-size: 19px;
    line-height: 21px;
}

.footer .addresses__item p {
    font-size: 19px;
    line-height: 21px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer .addresses__item p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 170px;
    height: 1px;
    background: #fff;
}

.footer .addresses__item a {
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    line-height: 21px;
}

.footer .addresses__item a:hover {
    text-decoration: underline;
}

.footer .addresses__item:nth-child(4n) {
    margin-right: 0;
}

.footer__contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__copyright {
    text-align: right;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    line-height: 21px;
}

.footer__social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__social label {
    font-size: 21px;
    color: #fff;
    margin-right: 15px;
}

.footer__social .links {
    font-size: 0;
}

.footer__social a {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 25px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
}

.footer__social a.inst {
    background-position: -65px 0;
}

.footer__social a.yt {
    background-position: right 0;
}

section, footer {
  overflow: hidden;
}

.slider-screen {
  min-height: 438px;
  background: url("../images/slider_bg.jpg") center bottom no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.slider-screen .slick-arrow {
  position: absolute;
  display: none !important;
}

.slider-screen * {
  outline: none;
}

.slider-screen__item {
  display: flex;
  min-height: 438px !important;
  justify-content: space-between;
  position: relative;
}

.slider-screen__item .content {
  width: 100%;
  max-width: 570px;
  padding: 50px 0;
  min-height: 438px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-screen__item .img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 438px;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.slider-screen__item .img img {
  max-height: 427px;
  height: auto;
  width: auto;
  margin-top: auto;
}

.slider-screen__item .title {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 25px;
}

.slider-screen__item p {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
  margin-bottom: 30px;
  color: #fff;
}

.slider-screen__item ul {
  list-style: none;
  margin: 0 0 35px 0;
  padding: 0;
}

.slider-screen__item .btn:hover {
  background-color: #033a8d;
}

.slider-screen__item .btn {
  width: 214px;
  height: 42px;
  border-radius: 5px;
  background-color: #024cba;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.15px;
  text-decoration: none;
}

.slider-screen__item ul li {
  position: relative;
  padding-left: 12px;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 8px;
  color: #fff
}

.slider-screen__item ul li:last-child {
  margin-bottom: 0;
}

.slider-screen__item ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}

.tariffs {
  padding: 90px 0;
}

.tariffs .title {
  text-align: center;
  font-size: 35px;
  letter-spacing: 0.88px;
  font-weight: bold;
  color: #000;
  margin-bottom: 50px;
  line-height: 1;
}

.tariffs__list {
  display: flex;
  justify-content: space-between;
}

.tariffs__item {
  width: calc(100% / 3);
  max-width: 370px;
  border: 2px solid #024cba;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.tariffs__item .name {
  height: 79px;
  background-color: #024cba;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  letter-spacing: 0.47px;
}

.tariffs__item .img {
  width: 100%;
  position: relative;
  height: 205px;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 40px;
}

.tariffs__item p {
  font-size: 18px;
  color: #000;
  line-height: 1.3;
  letter-spacing: 0.5px;
  max-width: 305px;
  display: block;
  margin: 0 auto 18px;
  text-align: center;
}

.tariffs__item .btns {
  max-width: 305px;
  width: 100%;
  display: block;
  margin: auto auto 0;
}

.tariffs__item .btns a {
  width: 100%;
  height: 44px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
  text-decoration: none;
  margin-bottom: 10px;
}

.tariffs__item .btns a:last-child {
  margin-bottom: 0;
}

.tariffs__item .btns a:hover {
  background: #ddd;
}

.tariffs__item .price {
  height: 80px;
  margin-top: 20px;
  background-color: #eaeaea;
  line-height: 80px;
  text-align: center;
  color: #024cba;
  font-size: 28px;
}

.tariffs__item .price b,
.tariffs__item .price strong {
  font-weight: bold;
}

.about-service {
  background-image: linear-gradient(-230deg, #003d96 0%, #29d5f4 100%);
  position: relative;
  padding: 100px 0 160px;
}

.about-service .title {
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.88px;
  margin-bottom: 55px;
}

.about-service .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-service .text {
  max-width: 570px;
  width: 100%;
}

.about-service .text p {
  color: #fff;
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 35px;
}

.about-service .text p:last-child {
  margin-bottom: 0;
}

.about-service .video {
  position: relative;
  width: calc(100% - 600px);
  max-width: 570px;
  height: 378px;
}

.about-service .video iframe {
  width: 100% !important;
  height: 100% !important;
}

.how-service-work {
  padding: 90px 0;
}

.how-service-work .title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 55px;
}

.how-service-work__list {
  display: flex;
  justify-content: space-between;
}

.how-service-work__item {
  width: calc(100% / 3);
  max-width: 370px;
  border-radius: 5px;
  border: 2px solid #a5d9e9;
  background-color: #f4f4f4;
  overflow: hidden;
  position: relative;
}

.how-service-work__item .img {
  position: relative;
  width: 100%;
  height: 405px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.how-service-work__item .img img {
  max-width: calc(100% - 15px);
  max-height: calc(100% - 15px);
  width: auto;
  height: auto;
}

.how-service-work__item .text {
  padding: 40px 20px;
  font-size: 20px;
  line-height: 1.3;
}

.how-service-work__item .text i {
  display: block;
  font-style: italic;
}

.how-service-work__item .text p {
  font-size: 20px;
  line-height: 1.3;
}

.lets-try {
  background-color: #e8faff;
  padding: 90px 0 120px;
}

.lets-try .container {
  min-height: 544px;
}

.lets-try .title {
  text-align: center;
  font-size: 35px;
  color: #000;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 100px;
}

.lets-try .flex {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 544px;
}

.lets-try .left {
  max-width: 470px;
  width: 100%;
  padding-top: 20px;
}

.lets-try .flex::after {
  content: "";
  position: absolute;
  left: 485px;
  top: 0;
  width: 1072px;
  height: 544px;
  background: url("../images/bg_try.png") 0 0 no-repeat;
}

.lets-try h2 {
  color: #024cba;
  line-height: 1.3;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
}

.lets-try p {
  font-size: 22px;
  line-height: 33px;
  color: #000;
  margin-bottom: 30px;
}

.lets-try p b,
.lets-try p strong {
  font-weight: bold;
}

.lets-try .links {
  display: flex;
  margin-top: 70px;
}

.lets-try .links a {
  max-width: 170px;
  margin-right: 30px;
}

.lets-try .links a:last-child {
  margin-right: 0;
}

.lets-try .links a:hover {
  opacity: .7;
}

.lets-try .links a img {
  max-width: 100%;
  height: auto;
}

.footer.grey {
  background-color: #e3e8e9;
  padding: 55px 0 60px
}

.footer.grey .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer.grey .contacts {
  font-size: 14px;
  line-height: 24px;
  color: #010101;
  max-width: 300px;
  width: 100%;
}

.footer.grey .contacts a {
  text-decoration: none;
  font-weight: bold;
  color: #010101;
}

.footer.grey .contacts a:hover {
  text-decoration: underline;
}

.footer.grey .copyright {
  max-width: 300px;
  width: 100%;
  text-align: right;
  font-size: 14px;
  line-height: 24px;
  color: #010101;
}

.footer.grey .social {
  max-width: 370px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.footer.grey .social .links {
  font-size: 0;
  text-align: center;
  margin-top: 10px;
}

.footer.grey .social .links a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
  background-image: url("../images/social_dark.png");
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer.grey .social .links a:hover {
  opacity: .5;
}

.footer.grey .social .links a.inst {
  background-position: -65px 0;
}

.footer.grey .social .links a.yt {
  background-position: right 0;
}

.about-service.business-page {
  padding: 60px 0 30px;
}

.about-service.business-page .title {
  text-align: left;
  margin-bottom: 55px;
}

.about-service.business-page .btn {
  text-decoration: none;
  width: 215px;
  height: 42px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  font-size: 20px;
  text-transform: none;
  font-weight: normal;
}

.about-service.business-page .btn:hover {
  background: #ddd;
}

.about-service__list {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 140px;
}

.about-service__item {
  width: 50%;
  flex: 1 0 50%;
  padding: 0 15px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-service__item .text {
  width: calc(100% - 100px);
  color: #fff;
  max-width: 100%;
}

.about-service__item .text .name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 5px;
}

.where-use {
  padding: 80px 0;
}

.where-use .title {
  text-align: center;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 60px;
}

.where-use__list {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.where-use__item {
  width: 25%;
  max-width: 25%;
  flex: 1 0 25%;
  padding: 0 15px;
  text-align: center;
}

.where-use__item .img {
  height: 209px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 20px;
}

.where-use__item .name {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

@media(max-width: 1200px) {
  .about-service .flex {
    flex-direction: column;
    text-align: center;
  }

  .about-service .flex .text {
    margin-bottom: 50px;
  }

  .about-service .video {
    width: 100%;
  }

  .about-service .title {
    text-align: center !important;
  }

  .about-service .btn {
    display: block;
    margin: 0 auto;
  }
  .how-its-work .container::after { left: 615px; }
  .how-its-work .screen-title + p br { display: none; }
  .how-its-work__content {
    max-width: 400px;
  }
  .how-its-work__item {
    width: 185px;
    flex: 1 0 185px;
    max-width: 185px;
  }
  .how-its-work__item br {
    display: none;
  }
  .how-its-work__item p {
    font-size: 16px;
  }
  .how-its-work__steps {
    width: calc(100% - 450px);
  }
}

@media(max-width: 1040px) {
  .how-service-work__list,
  .tariffs__list {
    flex-direction: column;
  }

  .how-service-work__item,
  .tariffs__item {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 30px;
  }
  .slider-screen__item .content {
    max-width: 100%;
    width: 100%;
  }
  .slider-screen__item .img {
    position: relative;
    height: auto;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .slider-screen__item .img img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 1000px;
  }
  .footer.grey .container {
    flex-direction: column;
    text-align: center !important;
  }

  .footer.grey .container .social,
  .footer.grey .container .contacts {
    margin-bottom: 40px;
  }

  .footer.grey .container .copyright {
    text-align: center;
  }

  .footer.grey .container .contacts a {
    display: block;
  }
  .about-service__item {
    width: 100%;
    flex: 1 0 100%;
  }
  .header__burger {
    display: flex;
  }
  .header__nav {
    position: fixed;
    top: -100vh;
    left: 0;
    right: 0;
    height: calc(100vh - 70px);
    transition: 300ms all linear;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__nav a {
    margin: 0 auto 30px;
  }
  .header__nav.active {
    top: 70px;
  }

  .header__nav>ul {
    padding: 0;
    margin: 0;
    background: none;
    position: relative;
    left: -20px;
  }
  .header__nav>ul::after {
    display: none;
  }
  .header__nav>ul ul {
    position: absolute;
    top: 0;
    left: 40px;
    padding-top: 0;
    display: block;
  }

  .offer-screen {
    background: url("../images/bg1_mob.jpg") left center no-repeat;
    text-align: center;
    height: auto;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 100px 0;
  }
  .offer-screen br {
    display: none;
  }
  .offer-screen a {
    margin: 0 auto;
  }
  .how-its-work .flex {
    flex-direction: column;
  }
  .how-its-work__content {
    width: 100%;
    max-width: 100%;
  }
  .how-its-work__steps,
  .how-its-work__list {
    width: 100%;
    position: relative;
  }
  .how-its-work .container::after {
    display: none;
  }
  .how-its-work__steps::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    right: -15px;
    background: -webkit-gradient(linear, left top, right top, from(#b8e9f2), to(#67cce4));
    background: -webkit-linear-gradient(left, #b8e9f2, #67cce4);
    background: -o-linear-gradient(left, #b8e9f2, #67cce4);
    background: linear-gradient(90deg, #b8e9f2, #67cce4);
  }
  .how-its-work__step {
    padding: 330px 0 0 0;
    text-align: center;
    height: auto;
  }
  .how-its-work__step::before {
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
  }
  .how-its-work__step:nth-child(2) {
    height: auto;
    padding: 370px 0 50px 0;
  }
  .how-its-work__step img {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .how-its-work__list {
    width: calc(100% + 30px);
    left: -15px;
  }

  .how-its-work__item {
    padding: 0 15px;
    margin: 0 0 50px 0;
    width: 25%;
    flex: 1 0 25%;
    max-width: 25%;
  }

  .different-spheres__item {
    flex-direction: column;
  }

  .different-spheres__item:first-child {
    padding-top: 30px;
  }

  .different-spheres__img {
    order: 2 !important;
    width: 100%;
    max-width: 100%;
  }

  .different-spheres__text {
    order: 1 !important;
    text-align: center !important;
    margin-bottom: 80px;
    max-width: 100%;
  }
  .different-spheres__item .read-more {
    margin: 0 auto !important
  }
  .different-spheres__item::before {
    left: -15px !important;
    right: -15px !important;
    height: 300px !important;
    width: calc(100% + 30px) !important;
    top: auto !important;
    bottom: 0 !important;
  }
  .install-app .flex {
    flex-direction: column;
  }

  .install-app .left {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .install-app .name br {
    display: none;
  }
  .install-app .name::after {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .install-app .right {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  .install-app .right img {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    height: auto;
  }
  .how-its-work {
    text-align: center;
  }

  .how-its-work .screen-title::after {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .how-its-work__ico {
    margin: 0 auto 18px;
  }
  .install-app .left .links a {
    margin: 0 auto 15px;
    display: block;
  }
}

@media (max-width: 760px) {
  .where-use__item {
    width: 50%;
    max-width: 50%;
    flex: 1 0 50%;
  }
  .how-its-work__item {
    width: 50%;
    flex: 1 0 50%;
    max-width: 50%;
  }

  .footer__contacts {
    flex-direction: column;
  }

  .footer__social {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .footer__social label {
    display: block;
    margin: 0 auto 10px;
    text-align: center;
  }
  .footer__social a {
    margin: 0 5px;
  }

  .footer__copyright {
    text-align: center;
  }
}

@media (max-width: 520px) {
  .where-use__item {
    width: 100%;
    max-width: 100%;
    flex: 1 0 100%;
  }
  .about-service__item {
    flex-direction: column;
  }
  .about-service__item .ico {
    margin: 0 auto 15px;
  }
  .about-service__item .text {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .install-app .left p {
    font-size: 16px;
  }
  .how-its-work__item {
    width: 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }
  .different-spheres__item {
    padding-bottom: 35px;
  }
  p,
  .different-spheres__text p {
    font-size: 14px;
  }
  .about-us p,
  .install-app .sub-title+p {
    font-size: 16px;
  }
  .install-app .left {
    margin-bottom: 30px;
  }
  .how-its-work__item br,
  .about-us p br,
  .install-app .left p br,
  .install-app .sub-title+p br,
  .different-spheres__text p br {
    display: none;
  }
  .offer-screen__title {
    font-size: 41px;
  }
  .offer-screen__sub-title {
    font-size: 36px;
  }
  .offer-screen p {
    margin-bottom: 60px;
  }
}