<div class="category-page">
    <div class="container">
        <h2 class="category-page__title title animate-title text--enter" data-splitting="words">Услуги</h2>

        <div class="category-page__list">
            <div class="category-page__item">
                <h3 class="category-page__name animate-title title text--enter">Разработка<br /> и продюсирование<br /> мультимедийного контента</h3>
                <div class="category-page__links animate-title text--enter" data-splitting="items">
                    <div class="category-page__link item">
                        <span>01/</span>
                        <a href="#" class="custom-cursor-hover">Корпоративные видеоролики</a>
                    </div>
                    <div class="category-page__link item">
                        <span>02/</span>
                        <a href="#" class="custom-cursor-hover">Рекламные видеоролики</a>
                    </div>
                    <div class="category-page__link item">
                        <span>03/</span>
                        <a href="#" class="custom-cursor-hover">Обучающий видео контент</a>
                    </div>
                    <div class="category-page__link item">
                        <span>04/</span>
                        <a href="#" class="custom-cursor-hover">Фотопроекты и анимационный контент</a>
                    </div>
                    <div class="category-page__link item">
                        <span>05/</span>
                        <a href="#" class="custom-cursor-hover">Видеоролики 2D/3D без съемки</a>
                    </div>
                    <div class="category-page__link item">
                        <span>06/</span>
                        <a href="#" class="custom-cursor-hover">Аудиореклама</a>
                    </div>
                </div>
            </div>

            <div class="category-page__item">
                <h3 class="category-page__name animate-title title text--enter">Проведение прямых<br /> трансляций<br /> и конференций</h3>
                <div class="category-page__links animate-title text--enter" data-splitting="items">
                    <div class="category-page__link item">
                        <span>01/</span>
                        <a href="#" class="custom-cursor-hover">Гибридные и онлайн конференции</a>
                    </div>
                    <div class="category-page__link item">
                        <span>02/</span>
                        <a href="#" class="custom-cursor-hover">Стриминг концертов и ивентов</a>
                    </div>
                    <div class="category-page__link item">
                        <span>03/</span>
                        <a href="#" class="custom-cursor-hover">Вебинар на удаленке</a>
                    </div>
                    <div class="category-page__link item">
                        <span>04/</span>
                        <a href="#" class="custom-cursor-hover">Медицинская конференция</a>
                    </div>
                    <div class="category-page__link item">
                        <span>05/</span>
                        <a href="#" class="custom-cursor-hover">Девелоперам: вручение ключей</a>
                    </div>
                </div>
            </div>

            <div class="category-page__item">
                <h3 class="category-page__name animate-title title text--enter">Фотосъемка: реклама,<br /> каталог, кей вижуал,<br /> бизнес-портрет</h3>
                <div class="category-page__links animate-title text--enter" data-splitting="items">
                    <div class="category-page__link item">
                        <span>01/</span>
                        <a href="#" class="custom-cursor-hover">Фотосъемка для каталога</a>
                    </div>
                    <div class="category-page__link item">
                        <span>02/</span>
                        <a href="#" class="custom-cursor-hover">Фотосъемка с актерами/моделями</a>
                    </div>
                    <div class="category-page__link item">
                        <span>03/</span>
                        <a href="#" class="custom-cursor-hover">Фотосъемка кей вижуала</a>
                    </div>
                    <div class="category-page__link item">
                        <span>04/</span>
                        <a href="#" class="custom-cursor-hover">Фотосъемка селебрити</a>
                    </div>
                    <div class="category-page__link item">
                        <span>05/</span>
                        <a href="#" class="custom-cursor-hover">Бизнес-портрет</a>
                    </div>
                </div>
            </div>

            <div class="category-page__item">
                <h3 class="category-page__name animate-title title text--enter">Разработка и съемка<br /> концептуальных<br /> репортажей<br /> и бэкстейджа</h3>
                <div class="category-page__links animate-title text--enter" data-splitting="items">
                    <div class="category-page__link item">
                        <span>01/</span>
                        <a href="#" class="custom-cursor-hover">Репортажная съемка с выставки</a>
                    </div>
                    <div class="category-page__link item">
                        <span>02/</span>
                        <a href="#" class="custom-cursor-hover">Тизеры, в том числе SDE (Same Day Edit)</a>
                    </div>
                    <div class="category-page__link item">
                        <span>03/</span>
                        <a href="#" class="custom-cursor-hover">Видео отзывы</a>
                    </div>
                    <div class="category-page__link item">
                        <span>04/</span>
                        <a href="#" class="custom-cursor-hover">Объясняющий ролик-инструкция</a>
                    </div>
                    <div class="category-page__link item">
                        <span>05/</span>
                        <a href="#" class="custom-cursor-hover">Видео-обзор продукта</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>