@import 'mixins/fonts';

// Корневой размера шрифта элемента (значение rem)
html {
  font-size: $grid-rem-size;
}

@each $infix in $grid-infixes {
  @include breakpoint($infix) {
    body {
      font-family: $font-text;
      @include make-font-size(map-get($grid-font-m-size, $infix));
    }

    h1, .h1 {
      font-family: $font-head;
      font-weight: bold;
      @include make-font-size(map-get($grid-font-h1-size, $infix));
      margin-bottom: map-get($grid-spacers-indent-6, $infix);
    }
    h2, .h2 {
      font-family: $font-head;
      font-weight: bold;
      @include make-font-size(map-get($grid-font-h2-size, $infix));
      margin-bottom: map-get($grid-spacers-indent-6, $infix);
    }
    h3, .h3 {
      font-family: $font-head;
      font-weight: bold;
      @include make-font-size(map-get($grid-font-h3-size, $infix));
      margin-bottom: map-get($grid-spacers-indent-4, $infix);
    }
  }
}
