//noinspection CssUnknownTarget
@font-face {
  font-family: 'AngleciaProTitle';
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src:
    url(/theme/main/fonts/AngleciaProTitle/AngleciaProTitle-Bold.woff2) format('woff2'),
    url(/theme/main/fonts/AngleciaProTitle/AngleciaProTitle-Bold.woff) format('woff'),
    url(/theme/main/fonts/AngleciaProTitle/AngleciaProTitle-Bold.ttf) format('truetype'),
    url(/theme/main/fonts/AngleciaProTitle/AngleciaProTitle-Bold.svg#AngleciaProTitle) format('svg');
}

//noinspection CssUnknownTarget
@font-face {
  font-family: 'TochkaSans';
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url(/theme/main/fonts/TochkaSans/TochkaSans-Light.eot);
  src:
    url(/theme/main/fonts/TochkaSans/TochkaSans-Light.eot?#iefix) format('embedded-opentype'),
    url(/theme/main/fonts/TochkaSans/TochkaSans-Light.woff2) format('woff2'),
    url(/theme/main/fonts/TochkaSans/TochkaSans-Light.woff) format('woff'),
    url(/theme/main/fonts/TochkaSans/TochkaSans-Light.ttf) format('truetype'),
    url(/theme/main/fonts/TochkaSans/TochkaSans-Light.svg#Geometria) format('svg');
}

//noinspection CssUnknownTarget
@font-face {
  font-family: 'TochkaSans';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url(/theme/main/fonts/TochkaSans/TochkaSans-Demi.eot);
  src:
    url(/theme/main/fonts/TochkaSans/TochkaSans-Demi.eot?#iefix) format('embedded-opentype'),
    url(/theme/main/fonts/TochkaSans/TochkaSans-Demi.woff2) format('woff2'),
    url(/theme/main/fonts/TochkaSans/TochkaSans-Demi.woff) format('woff'),
    url(/theme/main/fonts/TochkaSans/TochkaSans-Demi.ttf) format('truetype'),
    url(/theme/main/fonts/TochkaSans/TochkaSans-Demi.svg#Geometria) format('svg');
}

//noinspection CssUnknownTarget
@font-face {
  font-family: 'TochkaSans';
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src: url(/theme/main/fonts/TochkaSans/TochkaSans-Bold.eot);
  src:
    url(/theme/main/fonts/TochkaSans/TochkaSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(/theme/main/fonts/TochkaSans/TochkaSans-Bold.woff2) format('woff2'),
    url(/theme/main/fonts/TochkaSans/TochkaSans-Bold.woff) format('woff'),
    url(/theme/main/fonts/TochkaSans/TochkaSans-Bold.ttf) format('truetype'),
    url(/theme/main/fonts/TochkaSans/TochkaSans-Bold.svg#Geometria) format('svg');
}
