@mixin make-spacing($prop, $spacers, $-infix) {
  $to-plug: false;
  $old-value: '';
  @each $infix in $grid-infixes {
    @if ($infix == $-infix) {
      $to-plug: true;
    }
    @if ($to-plug and ($old-value != map-get($spacers, $infix))) {
      @include breakpoint($infix) {
        #{$prop}: map-get($spacers, $infix);
      }
      $old-value: map-get($spacers, $infix);
    }
  }
}
