@mixin breakpoint($infix) {
  $media: map-get($grid-breakpoints-max-width, $infix);

  @if ($media != 0) {
    // Fix for notebook
    @if ($infix == 'l') {
      @media (min-width: map-get($grid-breakpoints-min-width, $infix)) and (max-height: $grid-breakpoint-l-max-height) {
        @content;
      }
    }
    @media (max-width: $media) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin breakpoint-small-l() {
  @media (min-width: map-get($grid-breakpoints-min-width, 'l')) and (max-height: $grid-breakpoint-l-max-height) {
    @media (max-height: $grid-breakpoint-l-min-height) {
      @content;
    }
  }
}

@mixin grid-breakpoint($infix) {
  $min-media: map-get($grid-breakpoints-min-width, $infix);
  $max-media: map-get($grid-breakpoints-max-width, $infix);

  @if ($min-media == 0 or $max-media == 0) {
    @if ($min-media != 0) {
      @media (min-width: $min-media) and (min-height: $grid-breakpoint-l-max-height + 1px) {
        @content;
      }
    } @else if($max-media != 0) {
      @media (max-width: $max-media) {
        @content;
      }
    } @else {
      @content;
    }
  } @else {
    // Fix for notebook
    @if ($infix == 'l') {
      @media (min-width: $min-media) and (max-height: $grid-breakpoint-l-max-height) {
        @content;
      }
    }
    @media (min-width: $min-media) and (max-width: $max-media) {
      @content;
    }
  }
}

@function breakpoint-infix($infix) {
  @return if($infix == 'xl', '', '-' + $infix);
}
