.about-page-hero {
  position: relative;
  padding: 60px 0;
  background: #f2f7fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 1;
}
@media (min-width: 960px) {
  .about-page-hero {
    background: #f2f7fc url("../../images/about_bg.svg") center 0 no-repeat;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    height: 425px;
  }
}
.about-page-hero__title {
  margin-bottom: 0;
}

.about-page {
  padding-top: 100px;
}
.about-page__keys {
  padding: 30px 20px;
  background: #F2F7FC;
  margin-top: 30px;
}
.about-page__keys p {
  margin-bottom: 0px;
}
.about-page__keys ul {
  margin-bottom: 40px;
}
.about-page__keys ul li {
  position: relative;
  padding-left: 24px;
}
.about-page__keys ul li::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 15px;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: var(--text-color);
}
.about-page__keys-text {
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  .about-page__keys {
    padding: 60px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-page__keys-text {
    max-width: 533px;
    width: calc(100% - 398px - 16px);
    margin-bottom: 0;
  }
}
.about-page__text-block {
  margin-top: 30px;
  margin-bottom: 67px;
}
.about-page__text-block .text {
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  .about-page__text-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-page__text-block .text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 560px;
    width: calc(100% - 16px);
  }
  .about-page__text-block img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.about-page__certificate {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  min-height: 746px;
  z-index: 1;
  overflow: hidden;
}
@media (min-width: 960px) {
  .about-page__certificate {
    border-top: 1px solid var(--light-gray);
  }
}
.about-page__certificate .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-page__certificate-inner {
  width: 100%;
  text-align: center;
}
@media (min-width: 960px) {
  .about-page__certificate-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 174px;
  }
  .about-page__certificate-inner::before {
    content: "";
    position: absolute;
    right: -140px;
    top: 0;
    bottom: 0;
    width: 866px;
    z-index: -1;
    background: url("../../images/about_certificate_bg.svg") center no-repeat;
  }
  .about-page__certificate-inner::after {
    content: "";
    position: absolute;
    right: -9999px;
    top: 0;
    bottom: 0;
    left: 100%;
    background: var(--dark);
  }
}
.about-page__certificate-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
  margin-top: 40px;
  position: relative;
}
.about-page__certificate-image::before {
  content: "";
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: 100px;
  bottom: 0;
  background: var(--dark);
  z-index: -1;
}
.about-page__certificate-image a {
  display: block;
  line-height: 0;
}
.about-page__certificate-image a:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}
@media (min-width: 960px) {
  .about-page__certificate-image::before {
    display: none;
  }
}
.about-page__certificate-title {
  margin-bottom: 30px;
}
.about-page__certificate-text {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.about-page__certificate-text p {
  margin-bottom: 30px;
}
.about-page__certificate-text img {
  height: 65px;
}
@media (min-width: 960px) {
  .about-page__certificate-text {
    text-align: left;
    margin: 0;
  }
}
.about-page__callback {
  padding: 100px 0;
}
.about-page__callback-inner {
  padding: 30px 20px;
  background: -webkit-linear-gradient(312deg, #0C1923 0%, #15466F 44.5%, #15466F 96.35%);
  background: -o-linear-gradient(312deg, #0C1923 0%, #15466F 44.5%, #15466F 96.35%);
  background: linear-gradient(138deg, #0C1923 0%, #15466F 44.5%, #15466F 96.35%);
}
.about-page__callback-text {
  margin-bottom: 40px;
}
.about-page__callback-text p {
  color: var(--gray);
}
@media (min-width: 960px) {
  .about-page__callback-inner {
    padding: 83px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-page__callback-text {
    max-width: 276px;
    width: 100%;
    margin-bottom: 0;
  }
  .about-page__callback-form {
    max-width: 560px;
    width: 100%;
  }
  .about-page__callback .form-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-page__callback .form-inputs__column {
    width: calc(50% - 20px);
  }
}