.contacts-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--gray-light);
  padding: 22px 32px;
  width: calc(50% - 15px);
  margin-bottom: 30px;
}
.contacts-page__item .h4 {
  margin-bottom: 17px;
}
.contacts-page__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 6px;
}
.contacts-page__link:last-child {
  margin-bottom: 0;
}
.contacts-page__link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.contacts-page__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contacts-page__address .ico {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contacts-page .ico {
  position: relative;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  margin-right: 9px;
}
.contacts-page #map {
  position: relative;
  width: 100%;
  height: 600px;
  margin-bottom: 11px;
}
.contacts-page__warning {
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 31px 33px 47px;
  background: var(--gray-light);
}
.contacts-page__warning img {
  width: 48px;
  height: 48px;
  line-height: 1;
}
.contacts-page__warning .text {
  width: calc(100% - 95px);
}
@media (max-width: 1140px) {
  .contacts-page__item {
    padding: 22px 17px;
  }
}
@media (max-width: 720px) {
  .contacts-page #map {
    height: 393px;
  }
  .contacts-page__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-page__item {
    width: 100%;
  }
  .contacts-page__warning {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 22px 19px 23px 32px;
  }
  .contacts-page__warning img {
    margin-bottom: 14px;
    margin-right: auto;
  }
  .contacts-page__warning .text {
    width: 100%;
  }
}