.footer {
  margin-top: 54px;
}
.footer__top {
  background: var(--dark-blue);
  padding: 47px 0 35px;
}
.footer__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__logo {
  max-width: 165px;
  margin-right: 60px;
}
.footer__logo .body-small {
  color: #6F7B85;
}
.footer__logo a {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
}
.footer__logo a span {
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.footer__logo a:hover .color-white {
  color: var(--primary-color);
}
.footer__logo a:hover .color-primary {
  color: var(--white);
}
.footer__city {
  max-width: 152px;
  width: 100%;
  margin-right: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 8px;
  cursor: pointer;
}
.footer__city span {
  border-bottom: 1px dashed var(--white);
  line-height: 18px;
  color: var(--white);
}
.footer__city img {
  margin-left: 6px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__phones {
  width: 208px;
  margin-right: 24px;
}
.footer__link {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__link:last-child {
  margin-bottom: 0;
}
.footer__link .ico {
  margin-right: 8px;
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: var(--white);
}
.footer__address img {
  margin-right: 8px;
  position: relative;
  top: -3px;
}
.footer__callback {
  margin-left: auto;
}
.footer__callback .button {
  width: 143px;
  height: 31px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 13px;
}
.footer__callback .button:hover {
  background: var(--primary-color);
  color: var(--white);
}
.footer__navigation {
  background: #071725;
  padding: 35px 0;
}
.footer__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}
.footer__navigation-column {
  width: 20%;
  padding: 0 10px;
}
.footer__navigation-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__navigation-column li {
  padding: 0;
}
.footer__navigation-column li::before {
  display: none;
}
.footer__navigation-column li a {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}
.footer__navigation-column li a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.footer__bottom {
  background: var(--dark-blue);
  padding: 17px 0;
  text-align: center;
  color: #6F7B85;
}
.footer__bottom .body-small {
  margin-bottom: 6px;
}
.footer__bottom .body-small:last-child {
  margin-bottom: 0;
}
@media (max-width: 1140px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__phones {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer__navigation-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__navigation-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333333333%;
            flex: 0 1 33.3333333333%;
    width: 33.3333333333%;
  }
}
@media (max-width: 720px) {
  .footer__navigation-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer__navigation-column:not(:last-child) {
    padding-bottom: 16px;
    margin-bottom: 16px;
    position: relative;
  }
  .footer__navigation-column:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 90px;
    height: 1px;
    background: var(--primary-color);
    margin: 0 auto;
  }
  .footer__top .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__contacts, .footer__callback, .footer__logo, .footer__city {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .footer__logo {
    margin: 0;
  }
  .footer__contacts {
    margin-top: 30px;
    margin-right: 0;
  }
  .footer__phones {
    margin-right: 0;
  }
  .footer__callback {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 30px;
  }
  .footer__callback .button {
    width: 100%;
    max-width: 143px;
  }
  .footer__city {
    margin-right: 0;
    margin-left: auto;
    max-width: 100%;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  overflow-y: auto;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}
.popup__content {
  margin: auto;
  max-width: 920px;
  width: 100%;
  padding: 45px 31px;
  background: var(--white);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
}
.popup.active {
  opacity: 1;
  visibility: visible;
}
.popup.active .popup__content {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
@media (max-width: 720px) {
  .popup__content {
    padding: 20px 15px;
  }
}

.city-select__title {
  padding-bottom: 26px;
  margin-bottom: 11px;
  border-bottom: 1px solid var(--gray);
  text-align: center;
}
.city-select__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}
.city-select__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  max-width: 20%;
  padding: 0 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);
}
.city-select__item:hover {
  text-decoration: underline;
}
@media (max-width: 1140px) {
  .city-select__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333333333%;
            flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media (max-width: 720px) {
  .city-select__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%;
  }
}

.callback__content {
  padding: 26px 48px 40px;
}
.callback__title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.callback__title img {
  height: 34px;
  margin-right: 10px;
}
.callback__title a {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  text-decoration: none;
}
.callback__title a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.callback__text {
  text-align: center;
  margin-bottom: 24px;
}
.callback__fields {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.callback__item {
  width: 33.3333333333%;
  padding: 0 15px;
  margin-bottom: 26px;
}
.callback__item--submit {
  margin-bottom: 0;
}
@media (max-width: 1140px) {
  .callback__fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .callback__item {
    width: 100%;
  }
}