input {
  width: 100%;
  height: 41px;
  border: 1px solid var(--gray);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  outline: none;
  padding: 0 13px 0 13px;
  color: var(--text-color);
}
input:focus {
  border-color: var(--primary-color);
}

.search-label {
  position: relative;
  width: 100%;
  outline: none;
  border: 1px solid var(--gray);
  overflow: hidden;
  display: block;
}
.search-label:focus {
  border-color: var(--primary-color);
}
.search-label::after {
  content: "";
  position: absolute;
  right: 13px;
  top: 0;
  bottom: 0;
  width: 11px;
  background: url("../../images/select.svg") center no-repeat;
}

select {
  width: calc(100% + 24px);
  height: 41px;
  border: none;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  outline: none;
  overflow: hidden;
  padding: 0 9px;
  color: var(--text-color);
}
select option {
  padding: 0 !important;
}

.button {
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  width: 100%;
  height: 41px;
  color: var(--white);
  background: var(--button-primary);
  outline: none;
  border: 1px solid var(--button-primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background: var(--button-hover);
  border-color: var(--button-hover);
}
.button--secondary {
  background: transparent;
  border: 1px solid #E0E0E0;
  color: var(--text-color);
  font-weight: normal;
}
.button--secondary:hover {
  background: var(--primary-color);
  color: var(--white);
  border-color: var(--primary-color);
}
.button--tertiary {
  background: var(--button-hover);
  border-color: var(--button-hover);
}
.button--tertiary:hover {
  background: var(--button-primary);
  border-color: var(--button-primary);
}