.homepage-hero {
  position: relative;
  width: 100%;
  background: #F2F7FC;
  padding: 30px 0;
}
.homepage-hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 960px) {
  .homepage-hero .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.homepage-hero__headline {
  position: relative;
  z-index: 1;
  margin-bottom: 44px;
}
.homepage-hero__text {
  width: 100%;
}
@media (min-width: 960px) {
  .homepage-hero__text {
    max-width: calc(100% - 360px - 80px);
  }
}
.homepage-hero__form {
  width: 100%;
  padding: 30px 20px;
  background: #fff;
  border: 1px solid var(--light-gray);
  margin-top: 40px;
}
.homepage-hero__form-title {
  margin-bottom: 30px;
}
.homepage-hero__form .button {
  margin-top: 14px;
  margin-bottom: 10px;
}
@media (min-width: 960px) {
  .homepage-hero__form {
    max-width: 360px;
    margin-left: auto;
    margin-top: 0;
    padding: 40px 30px;
  }
}