.news-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #E0E0E0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news-list__image {
  position: relative;
  min-height: 260px;
  left: -1px;
  top: -1px;
  bottom: -1px;
  width: 321px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}
.news-list__category {
  position: absolute;
  right: 9px;
  top: 9px;
  color: var(--link-color);
  padding: 5px 10px;
  background: var(--white);
  text-decoration: none;
}
.news-list__category:hover {
  background: var(--link-color);
  color: var(--white);
}
.news-list__content {
  padding: 16px 16px 16px 40px;
  width: calc(100% - 321px);
}