.tabs--horizontal .tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--link-color);
  margin-bottom: 38px;
}
.tabs--horizontal .tabs__list-item {
  position: relative;
  white-space: nowrap;
  padding: 10px 46px;
  font-size: 19px;
  line-height: 26px;
  color: var(--text-color);
  border: 1px solid #E0E0E0;
  border-bottom: none;
}
.tabs--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tabs--vertical .tabs__list {
  width: 255px;
}
.tabs--vertical .tabs__list-item {
  border: 1px solid #F2F2F2;
  border-right: 1px solid var(--link-color);
  padding: 13px 20px 13px 23px;
  position: relative;
}
.tabs--vertical .tabs__list-item::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  right: -8px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: var(--link-color);
  opacity: 0;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.tabs--vertical .tabs__list-item.active::after {
  opacity: 1;
}
.tabs--vertical .tabs__list-item:not(:first-child) {
  border-top: none;
}
.tabs--vertical .tabs__content {
  width: calc(100% - 285px);
}
@media (max-width: 720px) {
  .tabs--vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs--vertical .tabs__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 20px;
  }
  .tabs--vertical .tabs__list-item {
    min-width: 255px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    background: var(--light-blue);
    margin-right: 10px;
  }
  .tabs--vertical .tabs__list-item:last-child {
    margin-right: 0;
  }
  .tabs--vertical .tabs__list-item::after {
    left: 0;
    right: 0;
    top: auto;
    bottom: -8px;
    margin: 0 auto;
  }
  .tabs--vertical .tabs__content {
    width: 100%;
  }
}
.tabs__list-item {
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.tabs__list-item.active {
  background: var(--link-color);
  border-color: var(--link-color);
  color: var(--white);
}
.tabs__list-item:not(.active):hover {
  background: var(--light-blue);
}
.tabs__content-item {
  display: none;
}
.tabs__content-item.active {
  display: block;
}