.plan-page-tariffs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid var(--dark-blue);
}
.plan-page-tariffs__item-wrapper {
  width: 33.3333333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.plan-page-tariffs__item-wrapper--highlight {
  z-index: 2;
}
.plan-page-tariffs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.plan-page-tariffs__item--highlight {
  z-index: 2;
}
.plan-page-tariffs__item--highlight .plan-page-tariffs__content {
  background: var(--dark-blue);
  color: #fff;
}
.plan-page-tariffs__item--highlight .plan-page-tariffs__content ul li, .plan-page-tariffs__item--highlight .plan-page-tariffs__content p {
  color: #fff;
}
.plan-page-tariffs__item--highlight::before, .plan-page-tariffs__item--highlight::after {
  content: "";
  position: absolute;
  background: var(--primary-color);
  width: 9px;
  top: -2px;
  bottom: -2px;
}
.plan-page-tariffs__item--highlight::before {
  left: -4.5px;
}
.plan-page-tariffs__item--highlight::after {
  right: -4.5px;
}
.plan-page-tariffs__name {
  min-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--dark-blue);
  color: var(--white);
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
}
.plan-page-tariffs__middle, .plan-page-tariffs__top {
  margin-bottom: 30px;
}
.plan-page-tariffs__content {
  padding: 20px 15px;
  background: var(--light-blue);
  height: calc(100% - 55px);
}
.plan-page-tariffs__content ul, .plan-page-tariffs__content p {
  margin-bottom: 8px;
}
.plan-page-tariffs__content ul:last-child, .plan-page-tariffs__content p:last-child {
  margin-bottom: 0;
}
.plan-page-tariffs__content ul.checks li {
  margin-bottom: 4px;
}
.plan-page-tariffs__content ul.checks li:last-child {
  margin-bottom: 0;
}
.plan-page-tariffs__size {
  margin-bottom: 19px;
  text-align: center;
}
.plan-page-tariffs__old-price {
  text-decoration: line-through;
  text-align: center;
  margin-bottom: 4px;
}
.plan-page-tariffs__price {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 14px;
}
.plan-page-tariffs__info {
  text-align: center;
  margin-top: 6px;
  font-size: 16px;
  line-height: 20px;
}
.plan-page-tariffs__button {
  max-width: 262px;
  margin: 0 auto;
}
.plan-page-tariffs__button.button {
  min-height: 50px;
  font-size: 18px;
  font-weight: bold;
}
.plan-page-tariffs__button.button--tertiary {
  border-width: 2px;
}
.plan-page-tariffs__button.button--tertiary:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.plan-page-tariffs__button.button--secondary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
}
.plan-page-tariffs__button.button--secondary:hover {
  color: var(--white);
}
.plan-page-tariffs__arrow {
  position: absolute;
  z-index: 3;
  width: 29px;
  height: 29px;
  line-height: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 12px;
  display: none;
}
.plan-page-tariffs__arrow--prev {
  left: 8px;
}
.plan-page-tariffs__arrow--next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 8px;
}
@media (min-width: 720px) {
  .plan-page-tariffs__arrow {
    display: none !important;
  }
  .plan-page-tariffs__item-wrapper {
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
}
@media (max-width: 720px) {
  .plan-page-tariffs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .plan-page-tariffs__item-wrapper {
    min-width: 230px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  .plan-page-tariffs__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}