body, html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #feebef;
  overflow: hidden;
}
body, input, button, textarea {
  font-family: 'Roboto';
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

strong, b {font-weight: bold;}

* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

$color: #000;
$trns: 300ms all linear;

@keyframes show {
  from {opacity: 0; transform: translateX(-200px);}
  to {opacity: 1; transform: translateX(0px);}
}

@keyframes wiggle {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

@keyframes wiggle2 {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(10deg);}
  50% {transform: rotate(-20deg);}
  75% {transform: rotate(5deg);}
  100% {transform: rotate(0deg);}
}

#test {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: auto;
  padding: 15px;
}

.test {
  &__wrapper {
    margin: auto;
    width: 100%;
    box-shadow: 0 30px 40px rgba(133, 73, 86, 0.21), 0 0 4px rgba(0, 0, 0, 0.09);
    background-color: #feebef;
    background-image: url('../images/test_bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-width: 640px;
    min-height: 535px;
    @media(min-width: 960px) {
      &--large {
        max-width: 1060px;
        min-height: 537px;
      }
    }

    p {
      margin: 0 0 15px 0;
      &:last-child {margin-bottom: 0;}
    }
    a {
      color: #00a0f6;
      &:hover {text-decoration: none;}
    }
  }

  &__social-share {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    a {
      padding: 0 15px;
      height: 50px;
      box-shadow: 0 15px 22px rgba(121, 54, 68, 0.23);
      border-radius: 2px;
      background-color: #ffffff;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-right: 15px;
      transition: $trns;
      color: #4267b2;
      font-size: 17px;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        opacity: .7;
      }
      &:last-child {margin-right: 0;}
      span {
        margin-left: 12px;
      }
    }
  }

  &__result-bg {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: -1;
    &.bottom {
      top: auto;
    }
  }

  &__screen {
    position: relative;
    color: $color;
    width: 100%;
    display: flex;
    flex-direction: column;
    &--question {
      padding: 25px 40px 45px 40px;
      max-width: 540px;
    }

    &--results {
      animation-name: show;
      animation-duration: 300ms;
      padding: 25px 250px 45px 40px;
      max-width: 100%;
      position: relative;
      z-index: 1;
      .test__name {
        max-width: 500px;
      }

      .test__counter {
        margin-bottom: 60px;
      }

      .test__name {
        margin-bottom: 35px;
      }
    }

    &--intro {
      overflow: hidden;
      padding: 100px 50px 50px;
      .test__name {
        max-width: 490px;
        position: relative;
        &:after {
          position: absolute;
          right: -20px;
          top: -40px;
          content: "Тест";
          background: url("../images/test_mark.svg") center 0 no-repeat;
          width: 66px;
          height: 47px;
          color: #fff;
          line-height: 35px;
          text-align: center;
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
  }

  @media(min-width: 960px) {

    &__wrapper--large .test__screen--question {
      padding: 25px 0px 50px 0;
      margin-left: 280px;
      max-width: 500px;
    }

    &__wrapper--large .test__screen--results {
      padding: 25px 0px 50px 0;
      margin-left: 280px;
      max-width: 100%;
    }

  }

  &__intro-bg {
    position: absolute;
    &--1 {
      top: -25px;
      left: 170px;
      right: auto;
      max-width: 93px;
      height: auto;
      animation-name: wiggle;
      animation-duration: 4000ms;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &--2 {
      top: 260px;
      left: 62px;
      top: 275px;
      max-width: 160px;
      height: auto;
      animation-name: wiggle2;
      animation-duration: 3000ms;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &--3 {
      right: 0;
      bottom: 0;
      max-width: 374px;
    }
  }

  @media(min-width: 960px) {

    &__wrapper--large {
      .test {
        &__intro-bg {
          position: absolute;
          max-width: 100%;
          &--1 {
            top: 50px;
            right: 315px;
            left: auto;
            animation-name: wiggle;
            animation-duration: 4000ms;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
          }
          &--2 {
            top: 260px;
            left: 380px;
            animation-name: wiggle2;
            animation-duration: 3000ms;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
          }
          &--3 {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

  }

  &__name {
    font-size: 34px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 10px;
  }

  &__question {
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 30px;
    animation-name: show;
    animation-duration: 300ms;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
  }

  &__button {
    position: relative;
    margin-top: auto;
    cursor: pointer;
    transition: $trns;
    &--start {
      width: 146px;
      height: 56px;
      border: 4px solid #fff;
      box-shadow: 0 15px 22px rgba(121, 54, 68, 0.23);
      border-radius: 2px;
      background-color: #ffffff;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #000000;
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
      &:hover {
        background: transparent;
      }
    }
    &--next:not(.test__button--start) {
      font-size: 20px;
      font-weight: 700;
      &:after {
        content: "";
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 13px;
        width: 26px;
        height: 21px;
        top: -2px;
        transition: $trns;
        background: url("../images/next.svg");
      }
      &:hover:after {
        transform: translateX(10px);
      }
    }

    &--again {
      font-size: 20px;
      font-weight: 700;
      &:after {
        content: "";
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 13px;
        width: 22px;
        height: 22px;
        transition: $trns;
        top: -1px;
        background: url("../images/repeat.svg") center no-repeat;
      }
      &:hover:after {
        transform: rotate(360deg);
      }
    }
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 20px;
    animation-name: show;
    animation-duration: 300ms;
    margin-bottom: 30px;
  }

  &__counter {
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__answers {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    animation-name: show;
    animation-duration: 300ms;
  }

  &__answer-item {
    display: flex;
    min-height: 50px;
    align-items: center;
    padding: 15px 25px;
    border-radius: 2px;
    border: 1px solid #edcdd3;
    background-color: #ffffff;
    font-size: 16px;
    margin-bottom: 9px;
    transition: $trns;
    cursor: pointer;
    position: relative;
    &:hover:not(.test__answer-item--disabled) {
      background-color: #edcdd3;
      color: #000;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      border: 2px solid transparent;
    }
    &:last-child {margin-bottom: 0;}

    &--disabled {
      cursor: auto;
    }

    &--correct {
      color: #43a457;
      font-weight: 700;
      &:before {
        border-color: #43a457
      }
    }
    &--wrong {
      color: #e25a76;
      font-weight: 700;
      &:before {
        border-color: #e25a76
      }
    }
  }
}

@media(max-width: 560px) {
  #test {
    padding: 0;
  }
  .test {
    &__screen {
      &--results {
        padding: 25px;
        .test__name {
          font-size: 26px;
          line-height: 34px;
          max-width: 300px;
        }
      }
      &--intro {
        padding-right: 25px;
        padding-left: 25px;
        .test__name {
          font-size: 26px;
          line-height: 34px;
          max-width: 300px;
          &:after {
            right: auto;
            left: 0;
            top: -50px;
          }
        }
      }
      &--question {
        padding: 25px;
      }
    } 
    &__result-bg {
      right: -100px;
      opacity: .6;
    }
    &__intro-bg {
      &--2 {
        left: 40px;
      }
      &--3 {
        right: -70px;
        bottom: -70px;
      }
    }
  }
}

@media(max-width: 420px) {
  .test__intro-bg {
    &--3 {
      right: -120px;
      bottom: -120px;
    }
  }
  .test__screen--results {
    padding-left: 15px;
    padding-right: 15px;
  }
  .test__social-share a {
    padding: 0 13px;
  }
  .test__question {
    font-size: 18px;
    line-height: 26px;
  }
  .test__button--next:not(.test__button--start) {
    font-size: 16px;
    &:after {
      width: 20px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      top: -1px;
    }
  }
}