<div class="home-blog <%= className%>">
    <div class="container">
        <div class="title animate-title text--enter" data-splitting="words">Блог</div>
        <p class="home-blog__text title-text">Пишем о своих проектах и о тонкостях индустрии,<br> раскрываем секреты создания эффективного видеоконтента для бизнеса
        </p>

        <a href="#" class="button home-blog__button" data-text="Перейти в блог">
            <span>Перейти в блог</span>
        </a>

        <div class="home-blog__list">
            <div class="home-blog__item">
                <a href="#" class="home-blog__preview" style="background-image: url(images/pic.png)"></a>
                <a href="#" class="home-blog__category">Про прямые трансляции</a>
                <a href="#" class="home-blog__title custom-cursor-hover">Как мы провели прямую трансляцию свадьбы и организовали телемост для родственников, которые не смогли присутствовать</a>
                <div class="home-blog__description">Приятно знать, что тебя слышат и предлагают к реализации идеи, которые помогают решить наши задачи. которые помогают решить...</div>
                <a href="#" class="home-blog__more">Прочитать статью</a>
            </div>
            <div class="home-blog__item">
                <a href="#" class="home-blog__preview" style="background-image: url(images/pic.png)"></a>
                <a href="#" class="home-blog__category">Про прямые трансляции</a>
                <a href="#" class="home-blog__title custom-cursor-hover">Как мы провели прямую трансляцию свадьбы и организовали телемост для родственников, которые не смогли присутствовать</a>
                <div class="home-blog__description">Приятно знать, что тебя слышат и предлагают к реализации идеи, которые помогают решить наши задачи. которые помогают решить...</div>
                <a href="#" class="home-blog__more">Прочитать статью</a>
            </div>
            <div class="home-blog__item">
                <a href="#" class="home-blog__preview" style="background-image: url(images/pic.png)"></a>
                <a href="#" class="home-blog__category">Про прямые трансляции</a>
                <a href="#" class="home-blog__title custom-cursor-hover">Как мы провели прямую трансляцию свадьбы и организовали телемост для родственников, которые не смогли присутствовать</a>
                <div class="home-blog__description">Приятно знать, что тебя слышат и предлагают к реализации идеи, которые помогают решить наши задачи. которые помогают решить...</div>
                <a href="#" class="home-blog__more">Прочитать статью</a>
            </div>
        </div>
    </div>
</div>