<div class="home-services__item" data-category="production">
    <div class="home-services__text">
        <div class="home-services__title animate-title title text--enter">Видеопродакшн</div>
        <div class="home-services__links animate-title text--enter" data-splitting="items">
            <a href="#" class="item custom-cursor-hover">Корпоративные ролики</a>
            <a href="#" class="item custom-cursor-hover">Обучающие ролики и уроки</a>
            <a href="#" class="item custom-cursor-hover">Рекламные ролики</a>
            <a href="#" class="item custom-cursor-hover">Репортажная съемка</a>
            <a href="#" class="item custom-cursor-hover">Видео-отзывы</a>
            <a href="#" class="item custom-cursor-hover">Видео-обзор продукта</a>
        </div>
    </div>
    <div class="home-services__video">
        <div class="video video--wide">
            <video class="lozad" autoplay loop="" muted="" playsinline="">
                <source data-src="images/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="detail">
            <img class="lozad" data-src="images/video_detail1.png" alt="">
        </div>
        <div class="animation animation--squares"></div>
    </div>
</div>
<div class="home-services__item" data-category="streaming">
    <div class="home-services__text">
        <div class="home-services__title animate-title title text--enter">Прямые трансляции<br /> и&nbsp;стриминг</div>
        <div class="home-services__links animate-title text--enter" data-splitting="items">
            <a href="#" class="item custom-cursor-hover item">Медицинские конференции</a>
            <a href="#" class="item custom-cursor-hover item">Гибридные мероприятия</a>
            <a href="#" class="item custom-cursor-hover item">Стриминг концертов и ивентов</a>
            <a href="#" class="item custom-cursor-hover item">Вебинары на удаленке</a>
        </div>
    </div>
    <div class="home-services__video">
        <div class="video video--square">
            <video class="lozad" autoplay loop="" muted="" playsinline="">
                <source data-src="images/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="detail">
            <img src="images/video_detail2.png" alt="" />
        </div>
    </div>

    <div class="line-wrapper">
        <div class="line"></div>
    </div>
</div>

<div class="home-services__item" data-category="no-filming">
    <div class="home-services__text">
        <div class="home-services__title animate-title title text--enter">Видео ролики<br /> без съемки</div>
        <div class="home-services__links animate-title text--enter" data-splitting="items">
            <a href="#" class="item custom-cursor-hover item">Видеоролик 2D/3D</a>
            <a href="#" class="item custom-cursor-hover item">Анимационный контент</a>
        </div>
    </div>
    <div class="home-services__video">
        <div class="video video--wide">
            <video class="lozad" autoplay loop="" muted="" playsinline="">
                <source data-src="images/video_3d.mp4" type="video/mp4">
            </video>
        </div>
        <div class="animation animation--squares"></div>
    </div>
</div>

<div class="home-services__item" data-category="photo">
    <div class="home-services__text">
        <div class="home-services__title animate-title title text--enter">Фотосъемка</div>
        <div class="home-services__links animate-title text--enter" data-splitting="items">
            <a href="#" class="item custom-cursor-hover item">Фотосъемка для каталога</a>
            <a href="#" class="item custom-cursor-hover item">Фотосъемка с актерами/моделями</a>
            <a href="#" class="item custom-cursor-hover item">Фотосъемка селебрити</a>
            <a href="#" class="item custom-cursor-hover item">Фотосъемка Кей Вижуала</a>
            <a href="#" class="item custom-cursor-hover item">Бизнес-портрет</a>
        </div>
    </div>
    <div class="home-services__video">
        <div class="video video--square">
            <video class="lozad" autoplay loop="" muted="" playsinline="">
                <source data-src="images/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="detail"><img src="images/video_detail3.png" alt=""></div>
        <div class="animation animation--bg"></div>
    </div>

    <div class="line-wrapper">
        <div class="line"></div>
    </div>
</div>

<div class="home-services__item" data-category="audio">
    <div class="home-services__text">
        <div class="home-services__title animate-title title text--enter">Аудиоролики</div>
        <div class="home-services__links animate-title text--enter" data-splitting="items">
            <a href="#" class="item custom-cursor-hover">Аудиоролики с оригинальной концепцией</a>
            <a href="#" class="item custom-cursor-hover">Игровые аудиоролики</a>
        </div>
    </div>
    <div class="home-services__video">
        <div class="video video--vertical">
            <video class="lozad" autoplay loop="" muted="" playsinline="">
                <source data-src="images/video_audio.mp4" type="video/mp4">
            </video>
        </div>
        <div class="detail"><img class="lozad" data-src="images/video_detail4.png" alt=""></div>
        <div class="animation animation--squares"></div>
    </div>

    <div class="hor-line"></div>
</div>