<div class="home-keys">
    <div class="container">
        <div class="home-keys__list">
            <div class="home-keys__item item">
                <div class="home-keys__title animate-title text--enter" data-splitting="words">Оборудование<br /> в собственности</div>
                <p>Оборудование А-класса в&nbsp;собственности
                    для стриминга и&nbsp;видеоконтента
                    в&nbsp;киноэстетике, а&nbsp;значит мы&nbsp;мобильны
                    и&nbsp;гарантируем единое качество</p>
            </div>

            <div class="home-keys__item">
                <div class="home-keys__title animate-title text--enter" data-splitting="words">С маркетинговой
                    экспертизой</div>
                <p>Профессионально разрабатываем
                    контент и&nbsp;концепции для видеороликов
                    в&nbsp;соответствии с&nbsp;задачами маркетинга</p>
            </div>

            <div class="home-keys__item">
                <div class="home-keys__title animate-title text--enter" data-splitting="words">Умеем слушать<br /> и слышать</div>
                <p>Это не&nbsp;пустые слова!
                    Если спор, то&nbsp;только для поиска
                    лучшего решения, а&nbsp;не&nbsp;для того,
                    чтобы потешить свое эго</p>
            </div>
        </div>
    </div>
</div>