<div class="home-reviews">
    <div class="container">
        <div class="home-reviews__content">
            <div class="home-reviews__meta">
                <div class="home-reviews__title title">Отзывы</div>
                <div class="home-reviews__navigation">
                    <svg
                        class="prev disabled"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="22px" height="37px">
                        <path fill-rule="evenodd"  fill="rgb(150, 218, 197)"
                              d="M0.623,18.786 L21.560,0.567 L21.560,37.004 L0.623,18.786 Z"/>
                    </svg>

                    <span>01-03</span>

                    <svg
                        class="next"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="22px" height="37px">
                        <path fill-rule="evenodd"  fill="rgb(150, 218, 197)"
                              d="M0.623,18.786 L21.560,0.567 L21.560,37.004 L0.623,18.786 Z"/>
                    </svg>
                </div>
            </div>

            <div class="home-reviews__item active" data-review="review1">
                <span>01/</span>
                <div class="home-reviews__name custom-cursor-hover title">Максим Гунишев</div>
                <div class="home-reviews__who">PR менеджер в Energon</div>
            </div>

            <div class="home-reviews__item" data-review="review2">
                <span>02/</span>
                <div class="home-reviews__name custom-cursor-hover title">Максим Гунишев</div>
                <div class="home-reviews__who">Основатель и генеральный директор<br /> в Стандарт Безопасности</div>
            </div>

            <div class="home-reviews__item" data-review="review3">
                <span>03/</span>
                <div class="home-reviews__name custom-cursor-hover title">Максим Гунишев</div>
                <div class="home-reviews__who">Заместитель генерального директора<br /> в Академии ОВКЭС</div>
            </div>
        </div>

        <div class="home-reviews__text">
            <div class="home-reviews__text-wrapper active" data-review="review1">
                <div class="home-reviews__text-content">
                    <p>Отдельно хочу отметить, что студия умеет поддерживать долгосрочные отношения, предлагать интересные
                        решения и&nbsp;про активно реагировать на&nbsp;запросы. У&nbsp;нас сложился эффективный тандем
                        &laquo;клиент-агентство&raquo;. Приятно знать, что тебя слышат и&nbsp;предлагают к&nbsp;реализации
                        идеи, которые помогают решить наши задачи.</p>
                    <div class="home-reviews__full">Показать весь отзыв</div>

                    <div class="home-reviews__text-full">
                        <p>Отдельно хочу отметить, что студия умеет поддерживать долгосрочные отношения, предлагать интересные
                            решения и&nbsp;про активно реагировать на&nbsp;запросы. У&nbsp;нас сложился эффективный тандем
                            &laquo;клиент-агентство&raquo;. Приятно знать, что тебя слышат и&nbsp;предлагают к&nbsp;реализации
                            идеи, которые помогают решить наши задачи.</p>
                        <p>Отдельно хочу отметить, что студия умеет поддерживать долгосрочные отношения, предлагать интересные
                            решения и&nbsp;про активно реагировать на&nbsp;запросы. У&nbsp;нас сложился эффективный тандем
                            &laquo;клиент-агентство&raquo;. Приятно знать, что тебя слышат и&nbsp;предлагают к&nbsp;реализации
                            идеи, которые помогают решить наши задачи.</p>
                    </div>
                </div>
            </div>

            <div class="home-reviews__text-wrapper" data-review="review2">
                <div class="home-reviews__text-content">
                    <p>Отдельно хочу отметить, что студия умеет поддерживать долгосрочные отношения, предлагать интересные
                        решения и&nbsp;про активно реагировать на&nbsp;запросы. У&nbsp;нас сложился эффективный тандем
                        &laquo;клиент-агентство&raquo;. Приятно знать, что тебя слышат и&nbsp;предлагают к&nbsp;реализации
                        идеи, которые помогают решить наши задачи.</p>
                    <div class="home-reviews__full">Показать весь отзыв</div>

                    <div class="home-reviews__text-full">
                        <p>Отдельно хочу отметить, что студия умеет поддерживать долгосрочные отношения, предлагать интересные
                            решения и&nbsp;про активно реагировать на&nbsp;запросы. У&nbsp;нас сложился эффективный тандем
                            &laquo;клиент-агентство&raquo;. Приятно знать, что тебя слышат и&nbsp;предлагают к&nbsp;реализации
                            идеи, которые помогают решить наши задачи.</p>
                        <p>Отдельно хочу отметить, что студия умеет поддерживать долгосрочные отношения, предлагать интересные
                            решения и&nbsp;про активно реагировать на&nbsp;запросы. У&nbsp;нас сложился эффективный тандем
                            &laquo;клиент-агентство&raquo;. Приятно знать, что тебя слышат и&nbsp;предлагают к&nbsp;реализации
                            идеи, которые помогают решить наши задачи.</p>
                    </div>
                </div>
            </div>
            <div class="home-reviews__text-wrapper" data-review="review3">
                <div class="home-reviews__text-content">
                    <p>Отдельно хочу отметить, что студия умеет поддерживать долгосрочные отношения, предлагать интересные
                        решения и&nbsp;про активно реагировать на&nbsp;запросы. У&nbsp;нас сложился эффективный тандем
                        &laquo;клиент-агентство&raquo;. Приятно знать, что тебя слышат и&nbsp;предлагают к&nbsp;реализации
                        идеи, которые помогают решить наши задачи.</p>
                    <div class="home-reviews__full">Показать весь отзыв</div>

                    <div class="home-reviews__text-full">
                        <p>Отдельно хочу отметить, что студия умеет поддерживать долгосрочные отношения, предлагать интересные
                            решения и&nbsp;про активно реагировать на&nbsp;запросы. У&nbsp;нас сложился эффективный тандем
                            &laquo;клиент-агентство&raquo;. Приятно знать, что тебя слышат и&nbsp;предлагают к&nbsp;реализации
                            идеи, которые помогают решить наши задачи.</p>
                        <p>Отдельно хочу отметить, что студия умеет поддерживать долгосрочные отношения, предлагать интересные
                            решения и&nbsp;про активно реагировать на&nbsp;запросы. У&nbsp;нас сложился эффективный тандем
                            &laquo;клиент-агентство&raquo;. Приятно знать, что тебя слышат и&nbsp;предлагают к&nbsp;реализации
                            идеи, которые помогают решить наши задачи.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>