@each $infix in $grid-infixes {
  $-infix: '-' + $infix;

  .br#{$-infix} {
    display: inline !important;
    &:after {
      content: ' ' !important;
    }
  }

  @include grid-breakpoint($infix) {
    .br#{$-infix} {
      display: inline !important;
      &:after {
        white-space: pre !important;
        content: '\A' !important;
      }
    }
  }
}
