@each $infix in $grid-infixes {
  @include breakpoint($infix) {
    $-infix: breakpoint-infix($infix);

    .fx#{$-infix}-left {
      justify-self: flex-start !important;
      justify-content: flex-start !important;
    }
    .fx#{$-infix}-center {
      justify-self: center !important;
      justify-content: center !important;
    }
    .fx#{$-infix}-right {
      justify-self: flex-end !important;
      justify-content: flex-end !important;
    }
    .fx#{$-infix}-top {
      align-self: flex-start !important;
      align-items: flex-start !important;
    }
    .fx#{$-infix}-middle {
      align-self: center !important;
      align-items: center !important;
    }
    .fx#{$-infix}-bottom {
      align-self: flex-end !important;
      align-items: flex-end !important;
    }
    .fx#{$-infix}-auto {
      justify-self: initial !important;
      align-self: initial !important;
      justify-content: initial !important;
      align-items: initial !important;
    }

    .fx#{$-infix}-col {
      flex-direction: column !important;
    }
    .fx#{$-infix}-row {
      flex-direction: row !important;
    }

    .fx#{$-infix}-wrap {
      flex-wrap: wrap !important;
    }
    .fx#{$-infix}-nowrap {
      flex-wrap: nowrap !important;
    }
  }
}
