.icon {
  &-close {
    $iconCloseSize: 24px;
    display: block;
    position: relative;
    height: $iconCloseSize;
    width: $iconCloseSize;
    border: none;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: $iconCloseSize;
      left: $iconCloseSize / 2;
      top: 0;
      border: none;
      background-color: black;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  &-small-up {
    display: inline-block;
    position: relative;
    height: 10px;
    width: 10px;
    padding-left: 5px;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      box-sizing: border-box;
      width: 8px;
      height: 8px;
      top: -5px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      transform-origin: 100% 100%;
      transform: rotate(225deg);
    }
  }
  &-small-down {
    display: inline-block;
    position: relative;
    height: 10px;
    width: 10px;
    padding-left: 5px;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      box-sizing: border-box;
      width: 8px;
      height: 8px;
      top: 1px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      transform-origin: 100% 100%;
      transform: rotate(45deg);
    }
  }
}
